<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ご挨拶</title>
</head>
<body>
    <h1>お名前を入力してください</h1>
    <form th:action="@{/greeting}" th:object="${greetingForm}" method="post">
        <div>
            <label>お名前：</label>
            <input type="text" th:field="*{name}" />
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;"></span>
        </div>
        <br/>
        <button type="submit">ご挨拶</button>
    </form>
</body>
</html>
